<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido al apartado de gestión</h1>
    <h2>Aqui podras gestionar los productos registrados</h2>
    <ul>
        <li>actualizar stock</li>
        <li>eliminar productos</li>
    </ul>

    <h2>{{ accion }} Producto: {{ producto.nombre }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cambios</button>
    </form>

    <hr>

    <form method="post" action="{% url 'eliminar_producto' producto.pk %}" 
        onsubmit="return confirm('¿Estás seguro de eliminar {{ producto.nombre }}?');">
        {% csrf_token %}
        <button type="submit" style="background:red; color:white;">🗑️ Eliminar Producto</button>
    </form>

    <br>

    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</body>
</html>